<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CRATE</title>
    </head>
    <body>
        <h1>Crate</h1>
        <!-- foreach($artists_array['results'] as $img){
            echo "<p><img src=".$img['thumb']. ">". $img['title'] ."</img></p>";
        } -->
        <ul>
        {% for result in results %}
            <img src='{{result.thumb}}'></img>
            <p><a href ="/artist/{{result.id}}">{{result.title}}, {{result.id}}</a></p>
            <!-- {{result.title}} -->
        {% endfor %}


        <div class='paginate'>

            {% if pages.page <= 1000 and pages.page >= 2 %}
                {% set nextpage = pages.page + 1 %}
                {% set prevpage = pages.page - 1 %}
                <form action="/search/{{nextpage}}" method="get">
                    <button type="submit" name="button">next page</button>
                </form>
                <form action="/search/{{prevpage}}" method="get">
                    <button type="submit" name="button">prev page</button>
                </form>
            {% else %}
            {% set nextpage = pages.page + 1 %}
            <form action="/search/{{nextpage}}" method="get">
                <button type="submit" name="button">next page</button>
            </form>
            {% endif %}
        </div>


        </ul>
        <form action="/search">
            <label for="genre">Genre</label>
            <input type="radio" name="filter">
            <label for="genre">Artist</label>
            <input type="radio" name="filter">
            <label for="genre">Year</label>
            <input type="radio" name="filter">
            <input type="text" name="search_term">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
