<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/../css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic|Monoton|Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/../css/application.css">
    <script src="/../js/jquery-1.12.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/../js/scripts.js"></script>
    <title>CRATE</title>
  </head>
  <body>
    <div class="container">
        <div class="sidebar">
            <!-- logo -->
            <div class="logo">
              <h1>
                <a href="/"><span class="c-logo">C</span>RATE
                <a href="/"></a>
              </h1>
              <p>Welcome to <b>CRATE</b>, home of your record collection.</p>
              {% if user is not empty %}
              <p class="greeting">Welcome, <a href="/collection"><b>{{user.getUserName}}</b></a></p>
              {% endif %}
            </div>
            <!-- login button -->
            {% if user is not empty %}
                <a class="login-toggle" href="/logout">LOG OUT</a>
            {% else %}
            <a class="login-toggle" href="#">LOG IN</a>

          <!-- login forms -->
        <div class="login">
            <form class="login-form" action="/login">
              <input type="text" name="user_name" placeholder="Username">
              <input type="password" name="password" placeholder="Password">
              <button type="submit" name="button"><i class="fa fa-play"></i></button>
            </form>

          <!-- create account button -->
          <a class="create-account" href="#">Create An Account</a>
          <!-- create account forms -->
          <form class="account-form" action="/register" method="post">
            <input type="text" name="user_name" placeholder="New Username">
            <input type="text" name="password" placeholder="New Password">
            <button type="submit" name="button"><i class="fa fa-play"></i></button>
          </form>
        </div>
        {% endif %}
          <!-- search bar -->
          <div class="search">
            <form class="search-form" action="/search" method="">
              <input type="text" name="search_term" placeholder="Search">
              <button type="submit" name="button"><i class="fa fa-search"></i></button>
            </form>
          </div>

          <!-- social icons -->
          <div class="social-footer">
            <a href="#"><i class="fa fa-github"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
      </div>
      <div class="gallery">
        <div class="gallery-header">
          <p>New Releases</p>
        </div>
        <div class="portfolioContainer">

          {% for result in results %}
          <div class="release experimental">
            {% if result.thumb is not empty%}
            <div class="album-cover"><a href ="/release/{{result.id}}"><img src='{{result.thumb}}' style="height: 300px;"></img></a></div>
            {% else %}
            <div class="album-cover"><a href ="/release/{{result.id}}"><img src='../img/1.jpg' style="height: 300px;"></img></a></div>
            {% endif %}
            <div class="actual-record"></div>
            <figcaption class="album-title">
            <p>{{result.title}}</a></p>
            </figcaption>
          </div>
          {% endfor %}
        </div>
        {% if pages.page <= 1000 and pages.page >= 2 %}
            {% set nextpage = pages.page + 1 %}
            {% set prevpage = pages.page - 1 %}
            <div class="back-forward">
                  <div class="back"><a href="/search/{{nextpage}}"><i class="fa fa-forward"></i></a></div>
                  <div class="back"><a href="#"><i class="fa fa-backward"></i></a></div>
            </div>
        {% else %}
        {% set nextpage = pages.page + 1 %}

            <div class="back"><a href="/search/{{nextpage}}"><i class="fa fa-forward"></i></a></div>

        {% endif %}
      </div>
    </div>
  </body>
</html>
