<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CRATE</title>
    </head>
    <body>
        <h1>Crate</h1>
        <!-- foreach($artists_array['results'] as $img){
            echo "<p><img src=".$img['thumb']. ">". $img['title'] ."</img></p>";
        } -->
            <h1>Artist:</h1>
            <h2>{{artist.name}}</h1>
            <h2>Label:</h2>
            <h3>{{label.name}}</h3>
            <h1>Release: </h1>
            <h2>{{results.description}}</h1>
            {{results.profile}}
            {% for link in results.urls%}
            <h4><a href="{{link}}">{{link}}</a></h4>
            {% endfor %}
            {% for image in images|slice(0,1) %}
            <img src="{{image.resource_url}}"></img>
            {% endfor %}

            {% for track in tracklist|slice(0,1)%}
            <h3>{{track.title}}</h3>
            {%endfor%}
            <h3>{{year}}</h3>
            <h3> tracklist: </h3>
            <ul>
                {% for track in tracklist[0:]%}
                <li>{{track.title}}</li>
                {%endfor%}
            </ul>
            <h3>Genres:</h3>
            <ul>
                {% for genre in genres %}
                <li>{{genre}}</li>
                {% endfor %}
            </ul>



        <form action="/search">
            <label for="genre">Genre</label>
            <input type="radio" name="filter">
            <label for="genre">Artist</label>
            <input type="radio" name="filter">
            <label for="genre">Year</label>
            <input type="radio" name="filter">
            <input type="text" name="search_term">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
